In [1]:
import numpy as np 
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
# Note This estimator is still experimental for now: the predictions and the API might change without 
# any deprecation cycle. To use it, you need to explicitly import enable_iterative_imputer:

 # explicitly require this experimental feature
from sklearn.experimental import enable_iterative_imputer  # noqa
 # now you can import normally from sklearn.impute
from sklearn.impute import IterativeImputer

In [3]:
# 3 typrs of missing data
# - Missing Completely at random (MCAR)
# - Missing at random (MCA)
# - not missing at random 
# MICE is best suited for mca data type

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day40-iterative-imputer/50_Startups.csv')

In [5]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [6]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [7]:
df = df[['R&D Spend','Administration','Marketing Spend','Profit']]/100000 # unit is lakh

In [8]:
df.head()

   R&D Spend  Administration  Marketing Spend    Profit
0   1.653492        1.368978         4.717841  1.922618
1   1.625977        1.513776         4.438985  1.917921
2   1.534415        1.011456         4.079345  1.910504
3   1.443724        1.186719         3.831996  1.829020
4   1.421073        0.913918         3.661684  1.661879