In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('placement.csv')

In [4]:
df.sample(5)

     cgpa  placement_exam_marks  placed
317  7.47                  19.0       0
548  7.48                  30.0       1
702  6.24                  39.0       0
745  6.82                  13.0       1
637  7.25                  74.0       0

In [5]:
df.shape

(1000, 3)

In [6]:
X_train ,X_test ,Y_train ,Y_test = train_test_split(df.drop('placed',axis=1),df['placed'],test_size=0.3,random_state=0)

In [7]:
X_train.shape , X_test.shape

((700, 2), (300, 2))

In [8]:
# Using standardscaler 
st = StandardScaler()

# fit the object with the training data so it will learn the parameter
st.fit(X_train)

# Transform train and test data
X_test_scaled = st.transform(X_test)
X_train_scaled = st.transform(X_train)

In [9]:
st.mean_

array([ 6.95514286, 32.46285714])

### Problem with the standardscaler is that we give ti a dataframe but it returns a numpy array

In [10]:
X_train_scaled

array([[-0.39628875, -1.07521533],
       [-0.63223223, -0.12941017],
       [-0.96929435,  0.02822403],
       ...,
       [ 2.0137054 , -1.12776006],
       [-0.58167291,  1.3418423 ],
       [ 1.79461503,  1.81474488]])

In [11]:
X_test_scaled = pd.DataFrame(X_test_scaled,columns=X_test.columns)
X_train_scaled = pd.DataFrame(X_train_scaled,columns=X_train.columns)

In [13]:
np.round(X_train.describe(),1)

        cgpa  placement_exam_marks
count  700.0                 700.0
mean     7.0                  32.5
std      0.6                  19.0
min      4.9                   0.0
25%      6.6                  18.0
50%      7.0                  30.0
75%      7.4                  44.0
max      8.9                 100.0

In [12]:
np.round(X_train_scaled.describe(),1)

        cgpa  placement_exam_marks
count  700.0                 700.0
mean    -0.0                  -0.0
std      1.0                   1.0
min     -3.5                  -1.7
25%     -0.7                  -0.8
50%     -0.0                  -0.1
75%      0.7                   0.6
max      3.2                   3.5