In [1]:
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder
from sklearn.model_selection import train_test_split

# Categorical Data ka bhi 2 types hota he 
1. Nominal jaha par jo categories hoti he unme apas me koi relationship nahi hota 
   Ex = states , branches of b.tech
2. Ordinal jaha pe categories me apas me relation hota he Ex= good better best

In [2]:
# isme humlog sirf ordinal aut label encoder ka upar baat karenge

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day26-ordinal-encoding/customer.csv')

In [4]:
df.shape

(50, 5)

In [5]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [6]:
df1 = df.iloc[:,2:]
df1.shape

(50, 3)

In [7]:
X_train , X_test , Y_train ,Y_test = train_test_split(df1.iloc[:,0:2],df1.iloc[:,-1],test_size=0.2)

In [8]:
X_train.head()

     review education
17     Poor        UG
40     Good    School
0   Average    School
41     Good        PG
43     Poor        PG

In [9]:
X_train.education.unique()

array(['UG', 'School', 'PG'], dtype=object)

In [10]:
Y_train.head()

17    Yes
40     No
0      No
41    Yes
43     No
Name: purchased, dtype: object

In [11]:
Oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])
# ye categories ke andar utna pass karna padta he jitna categorical data he yaha bas 2 he toh 2 toh pass kiye

In [12]:
Oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [13]:
X_train = Oe.transform(X_train)

In [16]:
X_test = Oe.transform(X_test)

In [ ]:
le = LabelEncoder()
le.fit(Y_train)
Y_test = le.transform(Y_test)
Y_train = le.transform(Y_)